.contact {
  color: white;

  .info {
    background-color: #2C3E50;
  }

  .copyright {
    background-color: #1a242f;
  }

  div {
    text-align: center;
  }

  span {
    display: inline-block;
    vertical-align: top;
    margin: 2rem;
    width: 20rem;
  }
}
