.portfolio {
  text-align: center;

  li {
    display: inline-block;
    margin: 2rem;
    width: 20rem;
  }

  h3 {
    text-decoration: underline;
  }

  a {
    text-decoration: underline;
    color: blue;
    font-size: 1.2rem;
    margin: 1rem;
  }

  div {
    margin: 1rem;

    p {
      margin: 0.5rem;
    }
  }
}
